.home {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    &_cardLink {
        text-decoration: none;
        color: #000000;
    }
    &_card {
        padding: 10px 15px;
        margin: 10px;
        min-width: 180px;
        max-width: 180px;
        border-radius: 20px;
        cursor: pointer;
    }
    &_cardHeader {
        background-color: #d1d5db;
        margin-bottom: 0px;
        padding: 15px;
    }
    &_cardFooter {
        background-color: #ffffff;
        padding: 15px;
        font-size: 12px;
    }
    &_wrapper {
        max-width: 95%;
        /* margin: auto; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
    
    }
    &_cardItem {
        cursor: pointer;
    }
}